{
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^(../)", "^(./)"],
  "importOrderSeparation": true
}
