.film-table {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid grey;
}

.film-properties, .film-prop-name {
    border: 1px solid grey;
}

.film-table .table-row:hover
{
    cursor: pointer;
    background: #bc38e4;
}

.table-row:nth-child(odd) {
    background: #CCC
}
