<table class="film-table">
    <thead>
        <tr class="film-properties">
            <th class="film-prop-name"> Title </th>
            <th class="film-prop-name"> Year </th>
            <th class="film-prop-name"> Director </th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-row" *ngFor="let film of films$ | async | orderBy: episodeId : true" (click)='onClick(film)'>
            <td>{{ film.title }}</td>
            <td>{{ film.releaseDate }}</td>
            <td>{{ film.director }}</td>
        </tr>
    </tbody>
</table>
