.film-table {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #f2f2f2;
}

.film-properties, .film-prop-name {
    border: 1px solid #f2f2f2;
}

.film-table .table-row:hover
{
    cursor: pointer;
    background: #bc38e4;
}

.table-row {
    background: #3b393a;
}

.table-row:nth-child(odd) {
    background: #D99858;
}

.table-cell {
    border:  1px solid #f2f2f2;
}
