table {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid grey;
}

th,td {
    border: 1px solid grey;
}

.table-row.table-row.table-row.table-row:hover***REMOVED*****REMOVED*** Это я хак сделал, чтобы вес селектора увеличить))***REMOVED***/
{
    cursor: pointer;
    background: #bc38e4;
}

.table-row:not(:only-child):nth-child(odd) {
    background: #CCC
}
