<table>
    <tbody>
        <tr***REMOVED***ngFor="let property of film$ | async | keyvalue">
            <td>{{ property.key }}</td>
            <td***REMOVED***ngIf="property.key === 'characters'; else regularCase">
                <span class="character-name"***REMOVED***ngFor="let character of characters$ | async" (click)='onClick(character)'>
                    {{ character.name }}
                </span>
            </td>
            <ng-template #regularCase>
                {{ property.value }}
            </ng-template>
        </tr>
    </tbody>
</table>
