<form [formGroup]='loginForm' (ngSubmit) = "login()">
    <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <label>Input your e-mail
            <input type="email" placeholder="lololo@lalala.ru" formControlName="email">
        </label>
    </p>      
    <div***REMOVED***ngIf="isSubmitted && formControls.email.errors">
        <div***REMOVED***ngIf="formControls.email.errors.required"> Email is required </div>
    </div>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <label>Input your password
            <input type="password" placeholder="Password" formControlName="password">
        </label>
    </p>      
    <div***REMOVED***ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div***REMOVED***ngIf="formControls.password.errors.required"> Password is required </div>
    </div>

    <p>
        <input type="submit" value="Log in">
    </p>

</form>
