<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://starwars.fandom.com/wiki/Main_Page">Tour of Star Wars</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.pinterest.ru/hippomom/star-wars/">SW world pictures</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.starwars.com/news">SW blog</a></h2>
    </li>
  </ul>
