<div>
    <nav class="top-menu">
      <a class="route" routerLink="/home"> Main page </a>
      <a *ngIf="!authService.isLoggedIn()" class="route" routerLink="/login"> Login </a>
      <a *ngIf="authService.isLoggedIn()" class="route" routerLink="/films"> Films </a>
      <a class="route" routerLink="/admin" (click)="authService.toggleAdminStatus()">Admin</a>
      <a *ngIf="authService.isLoggedIn()" class="route route-end" routerLink="/home" (click)="authService.logout()">Logout</a>
    </nav>
    <router-outlet></router-outlet>
</div>
